$bg-color-basic-green: #68b738;
$bg-color-basic-grey: #f2f2f2;
$bg-color-basic-grey2: #eaeaea;

$font-color-basic-black: #000000;
$font-color-basic-black1: #111111;
$font-color-basic-white: #ffffff;
$font-color-special-darkgrey: #444444;
