.inner-subtitle {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  color: $font-color-basic-black;
  display: flex;
  gap: 40px;

  @media(min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 17px;
    background-color: $bg-color-basic-green;
  }

  &::before {
    flex-shrink: 0;
    width: calc(50% - 600px / 2 - 30px);
  }

  &::after {
    flex-grow: 1;
    min-width: calc(50% - 600px / 2 - 30px);
  }
}
