.card {
  padding: 21px 20px 20px;
  border-bottom: 1px solid $border-color-basic-grey4;

  @media(min-width: $tablet) {
    position: relative;
    width: 324px;
    min-height: 430px;
    padding-top: 160px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $border-color-basic-grey4;
  }
}

.card__container {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 417px;
  min-height: 107px;
  margin: 0 auto 17px;

  @media(min-width: $tablet) {
    justify-content: center;
  }
}

.card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card__image {
  border: none;

  @media(min-width: $tablet) {
    position: absolute;
    top: -73px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__info {
  width: 140px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(min-width: $tablet) {
    width: 100%;
    align-items: center;
  }
}

.card__name {
  width: 76px;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  color: $font-color-basic-black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
  gap: 15px;

  @media(min-width: $tablet) {
    width: 135px;
    margin: 0 auto 18px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__details {
  width: 140px;
  padding: 0;

  @media(min-width: $tablet) {
    width: 100%;
    margin-bottom: 13px;
  }
}

.card__btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background-color: $bg-color-basic-green;
  text-transform: uppercase;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  color: $bg-color-basic-white;
}
