.example {
  background-color: $bg-color-basic-grey2;
  padding: 25px 20px 0;
}

.example__title {
  margin: 0 0 41px;
  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  color: $font-color-basic-black;
  font-weight: normal;
}

.example__description {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 18px;
}

.example__demo {
  display: flex;
  justify-content: center;
  align-items: center;
}
