.footer {

}

.footer__invitation {

}

.footer__invitation-text {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-basic-black1;
  text-transform: uppercase;
}

.footer__invitation-address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
