.footer {
  position: relative;
}

.footer__invitation-container {
  @media(min-width: $desktop) {
    position: relative;
    padding-top: 96px;
    padding-bottom: 106px;
  }
}

.footer__invitation {
  display: flex;
  justify-content: space-between;
  padding: 25px 19px 27px;

  @media(min-width: $tablet) {
    padding: 50px 30px 62px 70px;
    min-height: 80px;
  }

  @media(min-width: $desktop) {
    position: relative;
    left: 50%;
    width: 564px;
    min-height: 199px;
    z-index: 20;
    background-color: $bg-color-basic-white;
    padding: 62px 34px 60px 20px;
    margin-left: -610px;
  }
}

.footer__invitation-text {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-basic-black1;
  text-transform: uppercase;
  width: 212px;

  @media(min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;

    @media(min-width: $desktop) {
      padding-left: 60px;
      width: 183px;
    }
  }
}

.footer__invitation-address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;

  @media(min-width: $tablet) {
    padding-right: 40px;
    width: 200px;
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media(min-width: $desktop) {
    text-align: left;
  }
}

.footer__map-wrapper {
  position: relative;
  height: 362px;
  margin-bottom: 40px;

  @media(min-width: $desktop) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.footer__map iframe {
  width: 100%;
  height: 362px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  @media(min-width: $tablet) {
    padding-bottom: 55px;
    height: 450px;                          // в макете - 400px
  }

  @media(min-width: $desktop) {
    height: 100%;
    padding: 0;
  }
}

.footer__map-picture {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.footer__details-container {
  @media(min-width: $desktop) {
    background-color: $bg-color-basic-grey;
  }
}

.footer__details {
  @media(min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    margin: 0 30px;
  }

  @media(min-width: $desktop) {
    padding: 68px 0 73px;
    width: 1220px;
    margin: 0 auto;
  }
}

.footer__details-link {
  &:hover .footer__logo {

  }
}

.footer__logo {
  width: 128px;
  display: block;
  margin: 0 auto 10px;

  @media(min-width: $tablet) {
    margin: 0;
  }
}

.footer__socials-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color-basic-grey;
  border-bottom: 1px solid $border-color-basic-grey;

  @media(min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
  }
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px 40px;
  text-decoration: none;
  color: $font-color-special-darkgrey;

  &:hover .footer__logo-link {
    stroke: $bg-color-basic-green;
  }

  @media(min-width: $tablet) {
    margin: 0;
  }
}

.footer__logo-link {
  @media(min-width: $tablet) {
    fill: #666666;
    margin-left: 25px;
  }
}
