.hero {
  color: $font-color-basic-white;
  text-align: center;
  margin-bottom: 20px;

  @media(min-width: $tablet) {
    margin-bottom: 65px;
    position: relative;
  }
}

.hero__wrapper {
  padding-bottom: 134px;
  position: relative;
  margin-bottom: 3px;

  @media(min-width: $tablet) {

  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 270px;
    background: url("../../images/index-can-mobile.png") no-repeat 0 0;
    background-size: 280px 270px;
    z-index: 10;

    @media(min-width: $tablet) {
      background: url("../../images/index-can-tablet.png") no-repeat 0 65px;
      background-size: 709px 609px;
      width: 709px;
      height: 609px;
    }
  }
}

.hero__offer {
  padding: 27px 0 430px;
  position: relative;

  @media(min-width: $tablet) {
    color: $font-color-basic-black;
 }

  // Картинка кота
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #424147 url("../../images/index-background-mobile.jpg") no-repeat center top;
    background-size: auto 100%;
    z-index: 1;

    @media(min-width: $tablet) {
       background: none;
       width: 0;
       height: 0;
    }
  }

  // Оверлей над картинкой с котом
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $bg-color-basic-green;
    opacity: 0.85;
    z-index: 3;

    @media(min-width: $tablet) {
      background: none;
      width: 0;
      height: 0;
   }
  }
}

.hero__title {
  padding: 0;
  margin: 0 auto 14px;
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 280px;
  position: relative;
  z-index: 7;

  @media(min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin: 41px 112px 40px;
    width: 416px;
    text-align: left;
  }
}

.hero__text {
  padding: 0;
  margin: 0 auto;
  font-family: $Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  width: 280px;
  text-transform: uppercase;
  position: relative;
  z-index: 7;

  @media(min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin: 0 0 0 112px;
  }
}

.hero__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $bg-color-basic-green;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  color: $font-color-basic-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;

  @media(min-width: $tablet) {
    position: absolute;
    top: 300px;
    left: 92px;
    z-index: 20;
    padding: 12px 26px 10px 27px;
    font-size: 20px;
    line-height: 26px;
  }
}
