.how__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $font-color-basic-black;
}

.how__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.how__item {
  font-size: 14px;
  line-height: 18px;
}
