.main-products__title {
  margin-bottom: 61px;
  padding-top: 30px;

  @media(min-width: $tablet) {
    margin-bottom: 167px;
    padding-top: 78px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-products__cards {
  padding: 0;
  margin: 0;
  list-style: none;

  @media(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // column-gap: 60px;
    row-gap: 141px;
    padding: 0 30px;
  }
}
