.main-products {
  @media(min-width: $desktop) {
    width: 1220px;
    margin: 0 auto 72px;
  }
}

.main-products__title {
  margin-bottom: 61px;
  padding-top: 30px;

  @media(min-width: $tablet) {
    margin-bottom: 167px;
    padding-top: 78px;
    font-size: 60px;
    line-height: 60px;
  }

  @media(min-width: $desktop) {
    margin-bottom: 89px;
  }
}

.main-products__cards {
  padding: 0;
  margin: 0;
  list-style: none;

  @media(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 70px;
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
  }

  @media(min-width: $desktop) {
    padding: 0;
    width: 1440px;
    column-gap: 80px;
  }
}
