.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programs__item {
  padding: 30px 20px 18px;
  background-color: $bg-color-basic-grey;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $bg-color-basic-green;
    z-index: 1;
  }
}

.programs__item:nth-child(1) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 24px;
    background-image: url("./../../images/cat-slim.png");
    background-position: center;
    width: 36px;
    height: 50px;
    z-index: 10;
  }
}

.programs__item:nth-child(2) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 8px;
    background-image: url("./../../images/cat-pro.png");
    background-position: center;
    width: 67px;
    height: 28px;
    z-index: 10;
  }
}

.programs__title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-family: $Oswald;
  font-size: 24px;
  line-height: 37px;
  color: $font-color-basic-black;
  text-transform: uppercase;
  text-align: center;
}

.programs__text {
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $border-color-basic-grey;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $font-color-basic-black;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-top: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 100px;
    background-image: url("./../../images/icon-arrow.png");
    width: 23px;
    height: 10px;

    &:hover {
      width: 32px;
    }
  }
}
