.selection__title {
  padding-top: 27px;
  margin: 0 20px 37px ;

  @media(min-width: $tablet) {
    padding-top: 65px;
    margin-left: 40px;
    margin-bottom: 54px;
  }

  @media(min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.selection__basics-wrapper {
  @media(min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.selection__instruction {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 18px;
  color: $font-color-basic-black;
  text-transform: uppercase;
  margin: 0 20px 39px;

  @media(min-width: $tablet) {
    margin: 54px 30px 65px 40px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }

  @media(min-width: $desktop) {
    margin-left: 0;
  }
}

.selection__basics {
  @media(min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.selection__inputs {
  padding: 0;
  margin: 0 20px 24px;
  list-style-type: none;

  @media(min-width: $tablet) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media(min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.selection__input-wrapper {
  display: flex;
  align-items: center;
}

.selection__input-wrapper:not(:last-child) {
  margin-bottom: 14px;

  @media(min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.selection__radios-wrapper {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid $border-color-basic-grey;
  border-bottom: 1px solid $border-color-basic-grey;

  @media(min-width: $tablet) {
    border: none;
    margin-left: 20px;
  }

  @media(min-width: $desktop) {
    padding-top: 0;
    margin-left: 0;
  }
}

.selection__radios {
  padding: 0;
  margin: 0 40px 0 20px;
  display: flex;
  flex-direction: column;

  @media(min-width: $tablet) {
    padding: 23px 27px 27px;
    border: 1px solid $border-color-basic-grey5;
  }

  @media(min-width: $desktop) {
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

.selection__radio-wrapper {
  display: flex;
  align-items: center;
}

.selection__radio-wrapper:not(:last-child) {
  margin-bottom: 14px;

  @media(min-width: $desktop) {
    margin-bottom: 18px;
  }
}

.selection__radio-label {
  order: 2;
}

.selection__subtitle {
  font-size: 24px;
  line-height: 26px;

  @media(min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.selection__contacts {
  padding: 0;
  margin: 45px 20px 24px;

  @media(min-width: $tablet) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media(min-width: $desktop) {
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 85px;
    width: 1220px;
    margin: 0 auto;
  }
}

.selection__addons {
  margin: 34px 20px;
  display: flex;
  flex-direction: column;

  @media(min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);;
    width: 1220px;
    margin: 0 auto;
  }
}

.selection__label-checkbox {
  display: flex;
  align-items: center;
}

.selection__btn-wrapper {
  @media(min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media(min-width: $desktop) {
    width: 1220px;
    margin: 60px auto 79px;
  }
}

.selection__submit-btn {
  width: 100%;
  background-color: $bg-color-basic-green;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $bg-color-basic-white;
  text-transform: uppercase;

  @media(min-width: $tablet) {
    width: 284px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 26px;
  }

  @media(min-width: $desktop) {
    width: 570px;
  }
}

.selection__note {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $font-color-basic-black;
  width: 153px;
  margin: 21px auto 32px;

  @media(min-width: $tablet) {
    margin-left: 0;;
  }
}
