.social-list {
  padding: 10px 0 0 20px;
  list-style-type: none;
  width: 170px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 0 auto;

  @media(min-width: $desktop) {
    padding: 5px 0 0 38px;
  }
}

.social-list__link {
  display: inline-block;
  width: 28px;
  height: 22px;
}

.social-list__link--vk::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/icon-vk.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: $stroke-color-basic-grey;
}


.social-list__link--youtube::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/icon-youtube.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: $stroke-color-basic-grey;
}

.social-list__link--telegram::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/icon-telegram.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: $stroke-color-basic-grey;
}
